{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portf </title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/mypic.jpeg' %}">
    <link rel="stylesheet" href="{%static 'images/css/style.css'%}">
    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
    
    <!-- Navbar Section -->
    <nav id="navbar" class="flex s-around bg-color">
        <div class="left-nav">
            <h2 class="t-white">Portfolio</h2>
        </div>
        <div class="right-nav">
            <ul class="flex">
                <li><a href="#home" class="t-white roboto">Home <i class="fa-solid fa-house"></i></a></li>
                <li><a href="#about" class="t-white roboto">About Me <i class="fa-solid fa-user"></i></a></li>
                <li><a href="#skills" class="t-white roboto">Skills <i class="fa-solid fa-code"></i></a></li>
                <li><a href="#Projects" class="t-white roboto">Projects <i class="fas fa-project-diagram"></i></a></li>
                <li><a href="#Contact" class="t-white roboto">Contact <i class="fa-solid fa-rocket"></i></a></li>
            </ul>
        </div>
    </nav>

        

    <!-- Home Section -->
    <section id="home" class="flex s-around sw-80 m-auto">
        <div class="home-left flex items-center">
            <div class="home-content">
                <h6 class="poppinss">Hi, I'm</h6>
                <h1 class="t-white">Satwik Bharadwaj</h1>
                <h4 class="poppinss">Aspiring Software Engineer</h4>
                <a href="{% static 'images/RESUME.pdf' %}"  target="_blank">
                    <button class="btn poppins">Resume</button></a>
                    
                <a class="btn live poppins" id="hireme" href=""
                    target="_blank">Let's Talk</a>
            </div>
        </div>
        <div class="home-right flex s-center items-center">
            <div class="circle flex s-center items-center" id="mainImage">
               
                <img src="{% static 'images/mypic.jpeg'%}" alt="">
            </div>

        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <h1 class="t-center my-2 t-white f-2">About Me</h1>
        <div class="about-container flex s-around ">
            <div class=" about-left flex s-center items-center">
                <img src="{%static 'images/pictwo.jpeg'%}" alt="" style="width: 60%;">
            </div>

            <div class="about-right flex">
                <div class="about-content">
                    <h1 class="t-white m-b-1 poppins">Satwik Bharadwaj</h1>
                    <p class="t-white poppins">My name is Satwik Bharadwaj.I’m a B.tech student in Computer Science & Engineering at Siddaganga Institute of Technology.
                        
                        
                        I’m passionate about creating quality software that meets customer needs and makes a real impact. I enjoy solving challenging problems through Data Structures and Algorithms, and I love applying that mindset when building applications with Python, Django, and Flask. Learning new techniques and technologies excites me, and I’m always looking for ways to improve my craft. While I can handle all parts of the development process, I feel most energized when I’m deep into problem solving and building products, rather than handling repetitive tasks.</p>
                    <a class="btn " id="hireme"
                        href="">Hire Me</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Skills Section -->
    <section id="skills">
        <h1 class="t-center my-2 t-white f-2">Skills</h1>
        <div class="services-container flex s-around h-50">
        <div class=" skills-left flex s-center items-center">
            <img src="{%static 'images/pictwo.jpeg'%}" alt="">
        </div>

        <div class="skills-right flex items-center">
            <div class="skillss-container">
                <div class="java bar p-relative"><span class="bar-content left t-white"> Python </span><span
                        class="bar-content right-skills t-white">90%</span></div>
                <div class="html bar p-relative"><span class="bar-content left t-white">C++</span><span
                        class="bar-content right-skills t-white">85%</span></div>
                <div class="css bar p-relative"><span class="bar-content left t-white">Django</span><span
                        class="bar-content right-skills t-white">75%</span></div>
                <div class="js bar p-relative"><span class="bar-content left t-white">Flask</span><span
                        class="bar-content right-skills t-white">70%</span></div>
                <div class="python bar p-relative"><span class="bar-content left t-white">Java</span><span
                        class="bar-content right-skills t-white">50%</span></div>   
                <div class="mysql bar p-relative"><span class="bar-content left t-white">MySQL</span><span
                        class="bar-content right-skills t-white">50%</span></div>       
            </div>
        </div>
        </div>
    </section>

    

    <!-- Projects Section -->
    <section id="Projects">
        <h1 class=" t-center my-2 t-white f-2">Projects</h1>
        <div class="projects-container flex s-center">
            <div class="projects-item flex f-col s-center items-center">
               
                <h1 class="t-white poppins">ToDo List Website</h1>
                <p class="t-white poppins"> Developed a personal task management web app using HTML, CSS, Django, and MySQL, featuring user-friendly interfaces, CRUD operations, and persistent storage to help users efficiently organize and track their daily tasks.</p>
                <div class="buttons flex s-around">
                    <a href="https://github.com/Satwik-Bharadwaj/Todo-List"
                        target="_blanks" class="btn mx-1 m-top">GitHub</a>
                    <a href="" target="_blanks" class="btn m-top live">Live
                        Link</a>
                </div>
            </div>
            <div class="projects-item flex f-col s-center items-center">
               
                <h1 class="t-white poppins">Construction Management Service</h1>
                <p class="t-white poppins">Developed the backend of an industry-level project during my internship at ELVA Tech using Node.js and MySQL. The system streamlines resource tracking and project management for construction companies, ensuring efficient data handling and operational management.</p>
                <div class="buttons flex s-around">
                    <a href="https://github.com/Satwik-Bharadwaj/CMS-APIs" target="_blanks"
                        class="btn mx-1 m-top">GitHub</a>
                    <a href="#" target="_blanks" class="btn m-top live">Live
                        Link</a>
                </div>
            </div>
            <div class="projects-item flex f-col s-center items-center">
               
                <h1 class="t-white poppins">PlotWise(Fractional Real Estate Website)</h1>
                <p class="t-white poppins">Developing a web platform using LLMs such as Cursor AI and Lovable AI to streamline the process of fractionizing and managing real estate assets, providing features for property listing, investor interaction, and automated content generation to enhance user experience and engagement.</p>
                <div class="buttons flex s-around">
                    <a href="https://github.com/Satwik-Bharadwaj/CMS-APIs" target="_blanks"
                        class="btn mx-1 m-top">GitHub</a>
                    <a href="#" target="_blanks" class="btn m-top live">Live
                        Link</a>
                </div>
            </div>
            <div class="projects-item flex f-col s-center items-center">
               
                <h1 class="t-white poppins">My Portfolio</h1>
                <p class="t-white poppins">This is My portfolio website which is created with HTML,CSS and Django which describe my skill and knowledge.My portfolio website showcases my work in a sleek and minimalist design, allowing the focus to be on the content itself. The layout is uncluttered, making it easy for visitors to navigate and explore my projects.</p>
                <div class="buttons flex s-around">
                    <a href="https://github.com/Satwik-Bharadwaj/Portfolio-Website" target="_blanks"
                        class="btn mx-1 m-top">GitHub</a>
                    <a href="#" target="_blanks" class="btn m-top live">Live
                        Link</a>
                </div>
            </div>
           
         </div>

        </div>
    </section>

    <!-- Contact Me Section -->
    <section id="Contact" class="m-b-1">
        <h1 class=" t-center my-2 t-white f-2">Contact Me</h1>
        <div class="contact-container flex s-around items-centers">
            <div class="form" id="contactForm">
                <form method="post" > 
                    {% csrf_token %}
                    <div class="name form-div">
                        <input type="text" name="name" id="name" class="poppins" placeholder="Enter Your Name">
                    </div>

                    <div class="email form-div">
                        <input type="email" name="email" id="" class="poppins" placeholder="Enter Your Email"
                            required>
                    </div>

                    <div class="phone form-div">
                        <input type="phone" name="number" id="" class="poppins" placeholder="Enter Your Phone"
                            required>
                    </div>
                    
                    <div class="textarea form-div">
                        <textarea name="content" id="textarea" cols="30" rows="10" class="poppins"
                            placeholder="Enter Messages"></textarea>
                    </div>
                    <button type="submit" class="btn poppins" id="submit">Send</button>
                </form>
            </div>
        </div>
    </section>

    <!-- Footer Section -->
    <footer id="footer">
        <ul class="flex s-center w-80 m-auto my-2 res">
            <li><a href="#home" class="poppinss">Home</a></li>
            <li><a href="#about" class="poppinss">About</a></li>
            <li><a href="#skills" class="poppinss">Skills</a></li>
            <li><a href="#projects" class="poppinss">Projects</a></li>
            <li><a href="#portfolio" class="poppinss">Portfolio</a></li>
        </ul>
        <ul class="flex s-center w-80 font-awesome ">
            <a href="https://www.linkedin.com/in/satwik-bharadwaj-104b38279/" target="_blank">
                <li><i class="fa-brands fa-linkedin-in"></i></li>
            </a>
            <a href="https://github.com/Satwik-Bharadwaj" target="_blank">
                <li><i class="fa-brands fa-github"></i></li>
            </a>
                <a href="https://x.com/betarootd2005" target="_blank">
                <li><i class="fa-brands fa-x-twitter"></i></li>
        </a>
            
        </ul>
        <p class="t-center my-2 poppins">&copy; All Rights Reserved</p>

    </footer>
     
</body> 
</html>